PORT=3000
DB_HOST=YOUR_POSTGRES_HOST
DB_PORT=5432
DB_USERNAME=YOUR_POSTGRES_USER
DB_PASSWORD=YOUR_POSTGRES_PASSWORD
DB_NAME=YOUR_POSTGRES_DB_NAME
DB_SYNCHRONIZE=false
JWT_SECRET=YOUR_JWT_SECRET
CORS_ORIGIN=http://localhost:5173,http://127.0.0.1:5173